body {
    font-family: Arial, serif;
    /* Fonte e detalhes da letra*/
    background-color: #808080;
    display: flex;
    /* usa modelo FlexBox*/
    align-items: center;
    /* centraliza verticalmente*/
    justify-content: center;
    /* centraliza horizontalmente*/
    height: 100vh;
    /* define altura da tela - vetical height 100%*/
    text-shadow: 0px 0px 20px rgb(255, 251, 0);
}

.Card {
    background-image: url(https://img.freepik.com/foto-gratis/tanque-guerra-equipo-armado-utilizado-combate_23-2151627548.jpg);
    background-color: white;
    padding: 90px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    text-align: center;
    color: white;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    /*10px é superior e inferior e 15px é direita e esquerda*/
    border-radius: 5px;
    /*borda*/
    cursor: pointer;
    /*ponteiro do mouse faz o l*/   
}

.image {
    border-radius: 50%;
    width: 205px;
    /*largura*/
    height: 195px;
    margin-bottom: 10px;
    /*espaçamento externo abaixo*/
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.sidebar {
    width: 200px;
    height: 100vh;
    background: #313131;
    color: white;
    padding: 20px;
    position: fixed;
    left: 0;
    top: 0;
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 5px #007bff;

}
.sidebar ul{
    list-style: none;
    padding: 0;
}
.sidebar ul li{
    margin: 20px 0;
}
.sidebar ul li a{
    color: white;
    text-decoration: none;
    cursor: pointer;
}

button:hover {
    background-color: rgb(4, 33, 129);


}

.container {
    flex-grow: 1;
    padding: 20px;
    margin-left: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}